Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@Mohmad012 
Mohmad012
/
Nextjs
1
00
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
Nextjs/.gitignore

Mohmad012 new refresh my information about next.js
Latest commit 29bd214 8 days ago
 History
 0 contributors
34 lines (26 sloc)  386 Bytes
 
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
